<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        AskQ
    </title>
    <style>
       .text {
        margin: 5;
        }

        .content {
        }

        .divbox {
        width: 300px;
        display: inline-block;
        width: 300px;
        padding: 50px;
        }

        .absolute {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
    </style>
</head>
<body style="background-color:#adcce9">
<div class="absolute">
    <div class="divbox">
        <div class="content">
            <h1 align="center">AskQ</h1>
            <div align="center" class="text">
                <input autocomplete="off" placeholder="Room Code">
            </div>
            <div align="center" class="button">
                <button type="button">Join</button>
                <button type="button">Create</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
